# .github/workflows/ci.yml
name: CI Build Docker Image

on:
  push:
    branches:
      - '**'
    tags:
      # Add explicit tag patterns here if you use them in the metadata action
      - 'v*.*.*'

jobs:
  call-build-and-push:
    permissions:
      contents: read
      packages: write
    uses: hitesha1981/ci-templates/.github/workflows/dockerfiles.yml@main
    with:
      image_name: ${{ github.event.repository.name }} # Uses the name of the current repo
      dockerfile_path: ./Dockerfile
    secrets:
      GHCR_TOKEN: ${{ secrets.GHCR_TOKEN }}