name: Auto-Build Docker Images For Subfolders

on:
  push:
    branches:
      - '**'
    tags:
      - 'v*.*.*'

jobs:
  discover-dockerfiles:
    runs-on: ubuntu-latest
    outputs:
        dockerfiles: ${{ steps.find.outputs.dockerfiles }}
    steps:
      - uses: actions/checkout@v4

      - id: find
        run: |
          # Find all Dockerfiles except root-level one
          FILES=$(find . -type f -name Dockerfile | grep -v '^./Dockerfile$' || true)

          # Convert to valid JSON array
          JSON=$(printf '%s\n' $FILES | jq -R . | jq -s .)

          # Write clean JSON to GitHub output
          echo "dockerfiles=$JSON" >> $GITHUB_OUTPUT

  changed-dockerfiles:
    runs-on: ubuntu-latest
    needs: discover-dockerfiles
    outputs:
      changed: ${{ steps.filter.outputs.changed }}
    steps:
      - uses: actions/checkout@v4

      - id: filter
        run: |
          CHANGED="[]"
          for df in $(echo '${{ needs.discover-dockerfiles.outputs.dockerfiles }}' | jq -r '.[]'); do
            DIR=$(dirname "$df")
            if git diff --quiet HEAD~1 HEAD -- "$DIR"; then
              continue
            fi
            CHANGED=$(echo "$CHANGED" | jq --arg d "$df" '. + [$d]')
          done
          echo "changed=$CHANGED" >> "$GITHUB_OUTPUT"

  prepare-build:
    needs: changed-dockerfiles
    if: ${{ needs.changed-dockerfiles.outputs.changed != '[]' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dockerfile: ${{ fromJson(needs.changed-dockerfiles.outputs.changed) }}
    outputs:
      image_name: ${{ steps.out.outputs.image_name }}
      dockerfile_path: ${{ matrix.dockerfile }}

    steps:
      - id: out
        run: |
          DF="${{ matrix.dockerfile }}"
          FOLDER=$(dirname "$DF" | sed 's|^\./||')
          IMAGE="python/$FOLDER"
          echo "image_name=$IMAGE" >> $GITHUB_OUTPUT

  build-images:
    needs: prepare-build
    uses: hitesha1981/ci-templates/.github/workflows/dockerfiles.yml@main
    with:
      image_name: ${{ needs.prepare-build.outputs.image_name }}
      dockerfile_path: ${{ needs.prepare-build.outputs.dockerfile_path }}
    secrets:
      GHCR_TOKEN: ${{ secrets.GHCR_TOKEN }}
